/*
ID = #
CLASS = .
*/


/*ESTILOS RESET*/
@import "PRINCIPAL/reset";
/*ESTILOS NAVBAR*/
@import "PRINCIPAL/navBar";
/*ESTILOS FOOTER*/
@import "PRINCIPAL/footer";
/*BREAKPOINTS*/
@import "PRINCIPAL/queries";

@import "acerca-de/acercade";



/* ESTILOS MAIN */
main{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

/* INICIO (INDEX) */

.foto_inicio img {
    width: 100%;
    height: 550px;
}

.a_comerciales {
    margin-top: 40px;   
}

.img_aliados {
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_aliados2 {
    height: auto;
    margin-top: 10px;
    gap: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img_aliados img , .img_aliados2 img {
    width: 200px;
}

h2{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
}

/* PRODUCTOS */
#main_productos {
    display: flex;
    text-align: center;
}

.btn {
    background-color: #c9d6c2;
    font-weight: bold;
}

/* ALINEACION DE CARD PRODUCTOS Y SERVICIOS */
.card {
    margin: 30px;
    display: inline-block;
    text-align: center;
    background-color: #cbe8ba;
}

.card_texto_servicio {
    text-align: center;
    margin-left: 25px;
    font-size: 15px;
}

/* SERVICIOS */
.personal_farmacia {
    text-align: center;
}

h3{
    font-weight: bold;
}

.texto_personal {
    margin-top: 10px;
    text-align: center;
}

.personal_farmacia {
    font-weight: bold;
}

.card__group {
    width: 350px ;
    height: 400px ;
}

.card__group img {
    width: 100%;
    height: 225px;
}

.card__personal img {
    width: 100%;
    height: 350px;
}

.card-title {
    color: black;
    font-weight: bold;
}

/* FORMULARIO (CONTACTO) */

#form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    height: 600px;
    padding: 50px;
}

.form_relleno {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.form_relleno input {
    width: 500px;
    height: 30px;
    margin-top: 10px;
}

.btn {
    width: 150px;
    height: 40px;
    margin-top: 50px;
}

.form_contenido{
    display: flex;
}




