/* IMG Y TEXTO (ACERCA DE) */
.img_farmacia {
    width: 400px;
    height: 300px;
    border-radius: 25px;
    float: left;
    padding: 10px;
}

p {
    font-size: 22px;
    padding: 10px !important;
    text-align: justify;
}