/* ESTILOS NAVBAR/HEADER */
#header {
    width: 100%;
    height: 100px;
}

.container-fluid {
    background-color: #cbe8ba;
}

.navbar-brand {
    height: 100px;
}

#navbarNav {
    justify-content: end;
}

.nav-item {
    font-size: 20px;
}